@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

button,
a {
  @apply transition duration-200 ease-in-out;
}
